<html>
    <head>
        <link rel="stylesheet" href="styles/styles.css" />
        <style>
    .bg{
        margin-top: 8rem;
    display: inline-flex;}
    img{
    width: 50%;}
    h1{
    font-size: 48px;
    color: green;
    text-align: center;
    margin-top: 11rem;
}

        </style>
    </head>
    <body>
    
           <div class="bg">
          <img src="https://tsh.io/wp-content/uploads/2022/05/new-nodejs-features-19-20.png"> <h1>Hello  on kubernetes
           </h1> </div>
       
    </body>
</html>
